:root {
    --first-color: #131423;
    --second-color: #282b4c;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    /* height: 3000px; */
    /* background-image: url('../images/Curve\ Line.svg');
    background-repeat: no-repeat; */
}

main {
    height: auto!important;
}
body {
    /* background-size: cover; */
    background: #212342;
}
body:after {
        content: " ";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../../images/wall.jpg');
        background-position: center;
        background-size: cover;
        z-index: -17;
        opacity: .5;
    }



.btn-focus, .btn-primary {
    background: #29b0ef!important;
    color: #fff!important;
    border-color: #29b0ef!important;
}
.title {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
header .form-control:focus {
    outline: 0;
    box-shadow: none;
}
header {
    background: #144184 url(../../images/header-bg.jpg) top repeat-x;
}
nav #logo {
    width: 102px;
}

header #search-input, header #search-result {
    left: 50%;
    top: 50%;
    z-index: 800;
}
header #search-result  {
    top: -169%;
    height: 388px;
}
header #search-result li:hover{
    transition: all .9s ease;
    background: #eeeeee!important;
}
nav {
    font-size: 15px;
}
nav .dropdown-menu {
    width: 505px;
}
nav .dropdown-menu .dropdown-item{
    width: 100px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

/* coming soon */
#coming-soon {
    background-image: url('../images//Curve\ Line.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
/* ---------------- second page ------------------------------------- */
nav .logo {
    width: 102px;
}


main {
    height: 90vh;
}
#cover {
    background-repeat: no-repeat;
    background-size: cover;
} 
main #cover-btn {
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 25px 25px 25px 31px;
} 

main .info {
    left: 50%;
    top: 109%;
    transform: translate(-50%, -50%);
   
}

main .info .description {
    color: #000000c2;
}

main .info a.btn, main .info button {
    border-radius: 30px;
}
/* season and episodes */
#seasonAndEp {
    margin-top: 340px;
    background-image: url('../../images/PolygonLuminary.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* you may also like */
/* #more-section {
    margin-top: 317px!important;
} */
/* ----------------------------- end page 2 --------------------------------------- */

/* episode sections */
section .dot  {
    margin-bottom: 2px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    opacity: .4;
}
.img-container  {
    width: 172.854px;
    height: 259.427px;
}
.img-container .overlay, .img-container button {
    opacity: 0;
    transition: all .5s ease-out;
    cursor: pointer;
}
.img-container button {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 43px;
    width: 46px;
    
}
.img-container:hover > .overlay {
    opacity: .5;
}
.img-container:hover > button {
    opacity: 1;
}


/* ----------------------------- third page ------------------------- */

#player {
    height: 670px;
}
#stream-servers ul li{
    background-color: rgb(40, 43, 76);
}
#stream-servers ul li.active {
    border-bottom: 2px solid #45aaf2;
}
#stream-servers ul li  {
    cursor: pointer;
}
#download-servers ul li {
    /* background-image: url('../images/Cloudy.svg'); */
    background-size: cover;
    background-color: #3e4357;
}
.bg-dark-blue {
  background-color: var(--second-color);  
}

#download-servers button{
    border-radius: 0px 14px 14px 0px!important;
}
#you-might-like .card, section .card{
    height: 307px;
    }
#you-might-like .overlay{
background-image: url('../images/posters/overlay.png');
}
#you-might-like .card h4 {
    left: 50%;
    transform: translate(-50%, 0);
}
/* -------------------------------------------------- end third page ----------------------------------------- */
/* footer */
footer {
    background-image: url('../../images/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
footer > div {
    padding-top: 90px;
}

footer .description {
    font-size: 15px;
}
footer ul {
    font-size: 13px;
}
footer .note {
    font-size: 12px;
}


/* splide js */
.splide__pagination__page {
    display: none!important;
 }



 .break-column {
    flex-basis: 100%;
    width: 0;
  }